.card{
    min-height: 350px;
    box-shadow: 1px 1px 3px 3px #b3b2b1;
}

.card-header{
    font-size: 35px;
    font-weight:500;
    background-color: #ffdac0;
}

.card-header .nav-item .active{
    background-color: #ffede0;
}

.card-header .nav {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

.card-header ul.nav li {
    display: inline-block;
    float: none;
    -webkit-overflow-scrolling: touch;
}

.card .nav-link{
    font-size: 22px;
    font-weight: 400;
}

.card .article-title{
    font-size: 20px;
    font-weight: 500;
}

.card-header .nav-link{
    font-size: 25px;
    text-decoration: none;
}

.card-body{
    background-color:#ffede0;
}

.good-article-selection .group-title{
    background-color: #c1caff;
    color: #6d73c8;
    font-weight: bold;
    position: relative;
}

.good-article-selection .group-content{
    background-color: #d3d8ff;
}

.like-selection .group-title{
    background-color: #ffd7fb;
    color: #ca67ca;
    font-weight: bold;
    position: relative;
}

.like-selection .group-content{
    background-color: #ffe4fc;
}

.group-title{
    font-weight: bold;
}

.page-link, .disabled .page-link{
    background-color: #ffdac0;
    color: black;
}

.pagination > .active > a{
    color: black;
    background-color: #ffc08c !Important;
}

.pagination a{
    color: black;
    background-color: #ffdac0 !Important;
}

.pagination > li > a:hover{
    background-color: #ffc08c !Important;
    color: black;
    border: none;
}

@media (min-width: 992px) {
    .card-header .nav-link{
        padding-left: 35px;
        padding-right: 35px;
    }
  }

@media (max-width: 756px) {
    .card-header .nav-link{
        font-size: 22px;
    }   
  }

@media (max-width: 404px) {
    .card-header .nav-link{
        font-size: 20px;
    }
    .card .article-title{
        font-size: 18px;
        font-weight: 500;
    }
  }

@media (max-width: 369px) {
    .card-header .nav-link{
        font-size: 20px;
    }
    .card .article-title{
        font-size: 17px;
        font-weight: 500;
    }
  }

