<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../pic/favicon.png">
    <link rel="stylesheet" href="../decoration/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../decoration/css/main.css">
    <link rel="stylesheet" href="../decoration/css/content.css">
</head>
<body>

  <div class="container_box">
    <header>
     <nav class="navbar navbar-expand-xl navbar-light fixed-top">
       <div class="container">
            <a class="navbar-brand" href="../index.html">
                 <img src="../pic/favicon.png" alt="logo" width="60" height="60" alt="">
                 <img src="../pic/logo_title.png" width="150" height="60"  alt="">
             </a>
                
           <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
              
          <div class="offcanvas offcanvas-start" data-bs-hideresize="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-content nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">首頁</a>
                </li>
                <li class="nav-content nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    星座運勢
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">水瓶座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">雙魚座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">牡羊座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">金牛座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">雙子座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">巨蟹座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">獅子座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">處女座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">天秤座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">天蠍座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">射手座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">摩羯座</a></li>
                  </ul>
                </li> 
                 <li class="nav-content nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    運勢好文
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../templates/article_section.html">精選</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">星座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">生肖</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">語錄</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">週報</a></li>
                  </ul>
                </li> 
                <li class="nav-content nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    戀愛占卜
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../templates/love_divination.html">全部</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">單身</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">交往</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">曖昧</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">挽回</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">吵架</a></li>
                  </ul>
                </li>     
                <li class="nav-content nav-item">
                  <a class="nav-link" href="../templates/search_list_psy.html">心理測驗</a>
                </li>
                <li class="nav-content nav-item">
                  <a class="nav-link" href="../templates/lucky_straws.html">幸運籤筒</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>


<div class="container px-3 px-md-2 pt-3 pb-3">
  <div>
    <div class="row text-center">
      <div class="col">
        <img src="https://via.placeholder.com/1000x100?text=AD" alt="" style="width:100% ;">
      </div>
    </div>
  </div>
</div>

<!-- List of Divination-->
<div class="container px-3 px-md-2">
  <div class="row">
    <div class="col-12  mt-3 mb-3">
      <div class="card">
        <div class="row">
          <h1 class="text-center mt-3">Title</h1>
          <div class="col-10 mx-auto mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dolor sint minus tenetur culpa similique aperiam libero mollitia officiis rerum laboriosam officia unde sequi porro ducimus aliquid maxime quidem molestiae?
            Cumque, voluptate quasi obcaecati veritatis voluptatibus perferendis earum quo! Odio consequatur atque, veritatis numquam unde saepe consectetur fugit repudiandae accusamus aliquam deleniti ipsam voluptatibus nemo repellat voluptate. Voluptate, quasi officiis.
            Doloremque ipsum facere iure! Nisi nam tempora sequi! Quo reiciendis distinctio quas esse blanditiis praesentium eaque, laboriosam molestias quae, at omnis et, quidem earum voluptatem. Aperiam similique asperiores deserunt unde!
            Sed labore, eos quaerat nemo sequi consequatur doloribus, quasi perferendis quod dolorem quo quam corrupti consectetur consequuntur quibusdam at a iusto facere suscipit similique illo porro et.
          </div>
        </div>

          <!-- The number use for js random number -->
          <div id="number_of_answers">5</div>


          <div class="row">
            <div class="col-lg-8 col-10 mt-3 mb-3 mx-auto">
              <img src="https://via.placeholder.com/1500x400?text=AD" alt="" style="width:100% ;">
            </div>
          </div>

          <div>
            <p class="text-center mb-4 instruction">心中請詳細地想著遇到的問題並按下按鈕</p>
            <div class="d-flex justify-content-center mb-4">
              <div class="number-shown"></div>
              <button type="button" class="btn btn-primary btn-lg">點擊此獲得占卜的結果</button>
            </div>
          </div>

          <div class="row">
            <div class="col-10 mx-auto mb-5">
              <div class="accordion accordion-flush divination_answer" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
</div>
<!-- End of List of Divination -->

<div class="container px-3 px-md-2 pt-2 pb-2 ">
  <div class="pt-2">
    <div class="row">

      <div class="col-lg-8 col-12 order-lg-1 order-md-2">
          <div class="special-selection">
              <h2 class="selection_title">編輯推薦</h2>
              <hr class="selection_hr">
                <ul class="selection-zone">
                  <li><a href="" class="href-link"><p>Title Name</p></a></li>
                  <li><a href="" class="href-link"><p>Title Name</p></a></li>
                  <li><a href="" class="href-link"><p>Title Name</p></a></li>
                  <li><a href="" class="href-link"><p>Title Name</p></a></li>
                  <li><a href="" class="href-link"><p>Title Name</p></a></li>
                </ul>
          </div>
      </div>
      <div class="col-lg-4 col-12 mb-4 order-lg-2 order-md-1">
          <img src="https://via.placeholder.com/3000x2000?text=AD" alt="" style="width:100%;">
      </div>
      
    </div>
  </div>
</div>


  <div class="container px-3 px-md-2">
    <hr>
  </div>

  <div class="footer">
    <div class="container pt-2 pb-5">
      <div class="row text-center">
        <div class="col-sm-4 col-12">
          <a href=""><h5>關於我們</h5></a>
        </div>
        <div class="col-sm-4 col-12">
          <a href=""><h5>我們的服務</h5></a>
        </div>
        <div class="col-sm-4 col-12">
          <a href=""><h5>隱私權政策</h5></a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h5>夏陽運勢網</h5>
        </div>
        </div>
      </div>
    </div>


</body>
<script src='../decoration/bootstrap/js/bootstrap.bundle.min.js' ></script>
</html>
