<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>夏陽運勢網</title>
    <link rel="icon" href="../pic/favicon.png">
    <link rel="stylesheet" href="../decoration/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../decoration/css/main.css">
    <link rel="stylesheet" href="../decoration/css/lucky_straws.css">
</head>
<body>

  <div class="container_box">
    <header>
     <nav class="navbar navbar-expand-xl navbar-light fixed-top">
       <div class="container">
            <a class="navbar-brand" href="../templates/index.html">
                 <img src="../pic/favicon.png" alt="logo" width="60" height="60" alt="">
                 <img src="../pic/logo_title.png" width="150" height="60"  alt="">
             </a>
                
           <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
              
          <div class="offcanvas offcanvas-start" data-bs-hideresize="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
               <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-content nav-item">
                    <a class="nav-link active" aria-current="page" href="../templates/index.html">首頁</a>
                </li>
                <li class="nav-content nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    星座運勢
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">水瓶座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">雙魚座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">牡羊座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">金牛座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">雙子座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">巨蟹座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">獅子座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">處女座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">天秤座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">天蠍座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">射手座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/zodiac_fortune.html">摩羯座</a></li>
                  </ul>
                </li> 
                 <li class="nav-content nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    運勢好文
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../templates/article_section.html">精選</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">星座</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">生肖</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">語錄</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list.html">週報</a></li>
                  </ul>
                </li> 
                <li class="nav-content nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    戀愛占卜
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../templates/love_divination.html">全部</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">單身</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">交往</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">曖昧</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">挽回</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../templates/search_list_psy.html">吵架</a></li>
                  </ul>
                </li>     
                <li class="nav-content nav-item">
                  <a class="nav-link" href="../templates/search_list_psy.html">心理測驗</a>
                </li>
                <li class="nav-content nav-item">
                  <a class="nav-link" href="../templates/lucky_straws.html">幸運籤筒</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>

<div class="container-lg px-lg-2 px-0">
    <div class="row text-center">
      <div class="col">
        <img src="../pic/lucky_straws.png" alt="" style="width:100% ;">
      </div>
    </div>
</div>

<div class="container px-3 px-md-2 my-4">
  <div>
    <div class="row text-center">
      <div class="col">
        <a href=""><img src="https://via.placeholder.com/4000x600?text=AD" alt="" style="width:100% ;"></a>
      </div>
    </div>
  </div>
</div>

<!-- The intruduction and form -->

<div class="container-lg px-lg-2 px-0  mb-5">
  <form class="form" id='input-form'>
    <fieldset>
      <legend class="text-center mb-0">幸運籤筒<p>為未來點亮一盞微光</p></legend>
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-10 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3" id="name-section">
            <label for="name" class="form-label data-label">姓名</label>
            <input type="text" id="name" class="form-control" placeholder="請輸入您的姓名">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3" id="sex-section">
            <label for="sex" class="form-label data-label">性別</label>
            <select id="sex" class="form-select" aria-label="Default select example">
              <option selected value="">請選擇性別</option>
              <option value="male">男性</option>
              <option value="female">女性</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-10 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3" id="birth-date-section">
            <label for="birth-date" class="form-label data-label">出生日期</label>
            <input type="text" id="birth-date" class="form-control" placeholder="請輸入出生日期">
            <small>請輸入月份加上日期四碼 例如：1031</small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3" id="question-section">
            <label for="question" class="form-label data-label">欲想解決的煩憂</label>
            <input type="text" id="question" class="form-control" placeholder="請輸入您的困擾">
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-4 mx-auto">
          <a href="#result-list"><button type="button" class="btn btn-primary mx-auto button-group" id="start-button" >開始測算</button></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 mx-auto">
          <button type="reset" class="btn btn-primary mx-auto button-group" id="cancel-button">取消/重新輸入</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 mx-auto">
          <button type="button" class="btn btn-primary mx-auto button-group" id="intro-button" data-bs-toggle="modal" data-bs-target="#intro-content">測試說明與須知</button>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="modal fade" id="intro-content" tabindex="-1" aria-labelledby="intro-contentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto" id="intro-contentLabel">測試說明與須知</h5>
        </div>
        <div class="modal-body">
          <ol>
            <li>請務必將資訊填寫清楚，以確保測算準確。</li>
            <li>本測算服務為免費服務，但同樣的問題請以至多一次測算為限，重覆測驗可能導致結果失準。</li>
            <li>所有輸入在本網站的資訊皆只會使用於本測算服務中，不會作為他用，亦不會外洩，請使用者放心。</li>
            <li>所有的測算結果僅供參考娛樂使用，其結果並不能作為人生指導與方針，請勿迷信，本網站亦不負任何責任。</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- The end of the part -->

<!-- The result-showing part -->

<div class="container-lg px-lg-2 px-0 mb-5" id="result-list">
    <div class="form result-list-class">
      <legend class="text-center mb-0" id="result-greeting">XXX先生/小姐您好<p>您的鑑定結果如下</p></legend>
      <div class="row text-center">
        <div class="col-12 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3">
            <label for="disabledTextInput" class="form-label data-label">您的困擾為</label>
            <p class="result-detail" id="result-question">再經子松屋抄支月早畫。拉追乾尺真歌央在。貝至神夏東把兒念助石信人念起主元包掃進細「汁着兒朱且童田事古」六氣穿英亮蛋消校功了神；收第弓火假成邊。</p>
          </div>
        </div>
        <div class="col-12 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3">
            <label for="disabledTextInput" class="form-label data-label">占卜結果為</label>
            <p class="result-detail" id="result-score">大吉/中吉</p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3">
            <label for="disabledTextInput" class="form-label data-label">關於鑑定結果</label>
            <p class="result-detail" id="result-score-intro">棵物荷院十尺男丟良固棵九松能尼時紅根未有。急寸波很辛月世禾完友，可汗良棵跳每高隻有怪後兆白語幸光，八住犬哪師金間浪見欠洋。</p>
          </div>
        </div>
        <div class="col-12 mx-auto">
          <div class="mx-md-5 mx-sm-3 mx-5 mb-3">
            <label for="disabledTextInput" class="form-label data-label">專屬數字為</label>
            <p class="result-detail" id="result-number">22626</p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-4 mx-auto">
          <button type="button" class="btn btn-primary mx-auto button-group" id="restart-button">重新測算</button>
        </div>
      </div>
    </div>

  
</div>

<!-- The end of the session -->
<div class="container px-3 px-md-2 pt-4">
  <div>
    <div class="row text-center">
      <div class="col">
        <a href=""><img src="https://via.placeholder.com/5000x600?text=AD" alt="" style="width:100% ;"></a>
      </div>
    </div>
  </div>
</div>

  
  <div class="container px-3 px-md-2">
    <hr>
  </div>

  <div class="footer">
    <div class="container pt-2 pb-5">
      <div class="row text-center">
        <div class="col-sm-4 col-12">
          <a href=""><h5>關於我們</h5></a>
        </div>
        <div class="col-sm-4 col-12">
          <a href=""><h5>我們的服務</h5></a>
        </div>
        <div class="col-sm-4 col-12">
          <a href=""><h5>隱私權政策</h5></a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h5>夏陽運勢網</h5>
        </div>
        </div>
      </div>
    </div>


</body>
<script src="../decoration/js/lucky_straws.js"></script>
<script src='../decoration/bootstrap/js/bootstrap.bundle.min.js' ></script>
</html>
